@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

h1 {
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
}

/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff; /* Color blanco para el texto */
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh; /* Asegúrate de que el fondo cubra toda la pantalla */
    background-color: #000; /* Color negro sólido */

/* Estilos del encabezado */
header {
    background-color: #000; /* Color negro */
    color: #fff;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

/* Estilos del contenido principal */
main {
    max-width: 800px;
    padding: 1rem;
    padding-bottom: 80px; /* Espacio extra para que no se solape con el pie de página */
}

section {
    margin-bottom: 20px;
}

/* Estilos del pie de página */
footer {
    background-color: rgba(51, 51, 51, 0.8); /* Color plomo con transparencia */
    color: #fff;
    padding: 0.5rem; /* Mantener el padding */
    text-align: center;
    width: 100%;
    position: fixed; /* Mantener el pie de página fijo */
    bottom: 0;
    font-size: 0.8rem; /* Tamaño de fuente más pequeño */
}

/* Estilos del carrusel */
.carrusel {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.carrusel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carrusel-images img {
    max-width: 100%;
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Estilos del ícono de WhatsApp */
.whatsapp-float {
    position: fixed;
    bottom: 20px; /* Distancia del borde inferior */
    right: 20px; /* Distancia del borde derecho */
    z-index: 1000; /* Asegura que esté en la parte superior */
}

.whatsapp-icon {
    width: 70px; /* Aumenta el tamaño de la imagen */
    height: 70px; /* Aumenta el tamaño de la imagen */
    border-radius: 50%; /* Hacer la imagen redonda */
    border: 3px solid white; /* Borde blanco */
.fa-instagram {
    font-size: 30px; /* Tamaño del ícono */
    color: #E1306C; /* Color de Instagram */
}

.fa-whatsapp {
    font-size: 30px; /* Tamaño del ícono */
    color: #25D366; /* Color verde de WhatsApp */
}
